.cursorNavbar {
  text-decoration: none;
  cursor: pointer;
  color: #8C512E;
  font-weight: bold !important;
}

/* .cursorBlogPessoal {
  text-decoration: none;
  cursor: pointer;
  color: #151008;
  display: flex !important;
 justify-content:left !important;
} */


.cursorSair {
  text-decoration: none;
  cursor: pointer;
  color: #F2F2F2;
  display: flex !important;
  justify-content: right !important;
}


.toolbarTxt {
  display: flex !important;
 justify-content: center !important;
 background-color: #D2B492 !important;
}


.pagNavbar {
  display: flex !important;
 justify-content: center !important;
 font-weight: bold !important;
}
