.cursorNavbar {
  text-decoration: none;
  cursor: pointer;
  color: rgb(245, 220, 251);
}

.cursorBlogPessoal {
  text-decoration: none;
  cursor: pointer;
  color: rgb(191, 235, 229);
}


.cursorSair {
  color: rgb(243, 249, 228);
}

