.btnModal{
  border: 1px solid #D2B492 !important;
  background-color: #D2B492 !important;
  color: #8C512E;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: #D2B492;
    width: 45vw;
    border: 2px solid #8C512E;
    box-shadow: 5px 3px 10px #e1ebf233;
    border-radius: 1rem;
  }