.box1 {
  background-color: #b6bcda;
  height: 120px;
}

.box2 {
  background-color: #a3abe5;
  height: 60px;
}

.redes {
  font-size: 60px !important;
  color: rgb(207, 157, 157);
}

.textos {
  color: white;
}
