.caixa {
  background-color: #7c819e;
}

.imgHome img {
  width: 530px;
  height: 650px;
}

.titulo {
  color: rgb(211, 142, 214) !important;
  font-weight: bold !important;
}

.btnVerPost {
  border: 1px solid rgb(12, 109, 97) !important;
  background-color: rgb(242, 232, 201) !important;
}

.postagens {
  background-color: rgb(246, 209, 209);
}
