.fundoLogin {
  background-image: url(/src/assets/img/fundoDog.jpg);
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.imgHome {
  background-image: url(/src/assets/img/dog.png);
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 60vh;
  background-size:contain;
  background-position: center;
}

.txtWelcome {
  color: #977343 !important;
  font-weight: bold !important;
  padding: 1rem;
}

.btnVerPost {
  border: 1px solid #D2B492!important;
  background-color: #977343 !important;
  color: white !important;
  font-weight: bold !important;
}

.txtOpiniao {
  color: #977343;
  padding-bottom: 3rem;
}
